<app-panel-header>
    <div header-title>Decision tree</div>
    <div buttons>
        <button class="btn btn-sm btn-outline-primary">
            Decision tree info
        </button>
    </div>
</app-panel-header>

<div class="container">
    <div class="row">
        <div class="col">
            <app-input-file (fileEmitter)="loadFile($event)"></app-input-file>
        </div>
    </div>
</div>


<ng-container *ngIf="data?.length">

    <!-- data form -->
    <div class="row">
        <div class="col">
            <app-loaded-data [data]="data" [dataLength]="data.length"
                             (formEmitter)="setUpProperties($event)"></app-loaded-data>
            <p> {{config | json}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <b>Comic guy:</b>
            <div id="testingItem"></div>
            <br/>
            <b>Decision Tree prediction:</b>
            <div id="decisionTreePrediction"></div>
            <br/>
            <b>Decision Tree:</b>
            <br/>

            <div class="tree-body">
                <div class="tree" id="displayTree">
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="testResults?.length">
        <div class="col">
            <ng-container *ngFor="let item of testResults">
                <p>{{'class ' + item[config.predictClass]  + '=' +  item.result}}</p>
            </ng-container>
        </div>
    </div>
</ng-container>
