<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Machine learning app</title>

</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Machine learning</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" [routerLink]="['/login']">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']" [routerLinkActive]="['active']">
              <i class="fa fa-home fa-lg"></i>Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/neural-network']" [routerLinkActive]="['active']">
              <i class="fa fa-code fa-lg"></i>Neural network
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/decision-tree']" [routerLinkActive]="['active']">
              <i class="fa fa-tree fa-lg"></i>Decision tree
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/naive-bayes']" [routerLinkActive]="['active']">
              <i class="fa fa-cogs fa-lg"></i>Naive Bayes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/example-iris']" [routerLinkActive]="['active']">
              <i class="fa fa-file fa-lg"></i>Iris (decision tree)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/example-diabetes']" [routerLinkActive]="['active']">
              <i class="fa fa-file fa-lg"></i>Diabetes (Naive bayes)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/example-movies']" [routerLinkActive]="['active']">
              <i class="fa fa-youtube fa-lg"></i>Example movies
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 body">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

</body>
</html>
