<app-panel-header>
    <div header-title>Neural network</div>
    <div buttons>
        <button class="btn btn-sm btn-outline-primary">
            Neural network info
        </button>
    </div>
</app-panel-header>

<div class="container">
    <div class="row">
        <div class="col">
            <app-input-file (fileEmitter)="loadFile($event)"></app-input-file>
        </div>
    </div>
</div>

<ng-container *ngIf="data?.length">

    <!-- charts -->
    <div class="container">
        <div class="row">
            <div class="col">
                <app-data-charts [data]="data"></app-data-charts>
            </div>
        </div>
    </div>

    <!-- data form -->
    <div class="row">
        <div class="col">
            <app-neural-network-form [data]="data" [dataLength]="data.length"
                                     (formEmitter)="setUpProperties($event)"></app-neural-network-form>
        </div>
    </div>
    <!--&lt;!&ndash; data elements &ndash;&gt;-->
    <!--<div class="row">-->
        <!--<div class="col">-->
            <!--<app-data-table [data]="data"></app-data-table>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col">
            {{testedData | json}}
        </div>
    </div>

</ng-container>

<div class="fixed-bottom p-0">
    <app-output-console [data]="consoleInfo" [events]="eventsSubject.asObservable()"></app-output-console>
</div>
