<app-panel-header>
  <div header-title>Naive Bayes</div>
  <div buttons>
    <button class="btn btn-sm btn-outline-primary">
      Naive Bayes info
    </button>
  </div>
</app-panel-header>

<div class="container">
  <div class="row">
    <div class="col">
      <app-input-file (fileEmitter)="loadFile($event)"></app-input-file>
    </div>
  </div>
</div>


<ng-container *ngIf="data?.length">

  <!-- naive bayes -->

  <!-- charts -->
  <div class="container" *ngIf="config">
    <div class="row">
      <div class="col">
        <app-data-charts [data]="data" [class]="config.predictClass"></app-data-charts>
      </div>
    </div>
  </div>

  <!-- data form -->
  <div class="row">
    <div class="col">
      <app-loaded-data [data]="data" [dataLength]="data.length"
                       (formEmitter)="setUpProperties($event)"></app-loaded-data>
    </div>
  </div>

  <div class="row" *ngIf="testResults?.length">
    <div class="col">
      <app-training-result [data]="testResults" [config]="config"></app-training-result>
    </div>
  </div>

  <!-- data elements -->
  <div class="row" *ngIf="!testResults?.length">
    <div class="col">
      <app-data-table [data]="data"></app-data-table>
    </div>
  </div>
</ng-container>
