<app-panel-header>
  <div header-title>Movies</div>
</app-panel-header>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Algorytm drzewa decyzjnego dla kwiatów irysa</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/MqqtomRIKp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Algorytm Naive Bayesa dla badań cukrzyocowych</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/werbakY7r_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
